# git files
*.git

# executables
*.exe
*.bin
*.bat
*.out

# do not ignore outputs
!**/outputs/*.out

# logs
*.log

# object files
*.o

# compressed files
*.zip
*.tar
*.gz
*.7z
*.bz2

# hidden files
.*
!.travis.yml
