# git files
*.git

# executaveis
*.exe
*.bin
*.bat
*.out

# não ignorar outputs
!**/outputs/*.out

# logs
*.log

# arquivos intermediarios
*.o

# compactados
*.zip
*.tar
*.gz
*.7z
*.bz2

# hidden files
.*
!.travis.yml
